{% spaceless %}

<nav class="joinup-navbar navbar navbar-expand">
  <div class="container">
    <a class="navbar-brand" href="{{ front_page }}">
      <img class="navbar-brand-image" src="{{ base_path }}{{ active_theme_path() }}/assets/images/logo.svg" alt="{{ 'Joinup logo'|t }}" />
    </a>
    <span class="navbar-motto d-none d-md-block">{{ 'Interoperability solutions'|t }}</span>

    <div class="collapse navbar-collapse rounded-bottom" id="navbar">
      <ul class="navbar-nav accordion accordion-flush">
        {#
          Anchors are reserved for future expansion, they have already been
          implemented according to design mockups, but we do not actually have
          these in the backend yet.
        #}
        {% for anchor in _anchors|default([]) %}
          <li class="nav-item">
            <a class="nav-link" href="{{ anchor.link }}" {{ anchor.extra_attributes }}>{{ anchor.label }}</a>
          </li>
        {% endfor %}
        {% if logged_in %}
          {#
            User profile menu.

            Note that this is a list item since in the future we will add
            additional elements such as notification icons etc.
          #}
          <li class="nav-item accordion-item">
            <span class="accordion-header" id="heading-account">
              <button
                class="accordion-button nav-link"
                data-bs-toggle="collapse"
                autocomplete="off"
                data-bs-target="#collapse-account"
                aria-controls="collapse-account"
                aria-expanded="false"
                type="button"
              >
                <svg class="bi icon--s">
                  <use xlink:href="{{ base_path ~ directory }}/assets/icons/bootstrap-icons.svg#person-circle"></use>
                </svg>
                <span class="accordion-button-label">{{ user_name }}</span>
              </button>
            </span>
            <div
              id="collapse-account"
              class="accordion-collapse collapse rounded-bottom"
              aria-labelledby="heading-account"
              data-bs-parent="#navbar"
            >
              <div class="accordion-body">
                <ul class="accordion-list">
                  {% for link in profile_links %}
                    <li class="accordion-list-item">
                      <a href="{{ link.link }}" class="accordion-list-link">
                        {{ link.label }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </li>
        {% else %}
          {#
            Anonymous menu.

            Anonymous users see 3 links to guide them to the About Us page and
            allow them to log in. Also there is a section that explains some
            details about the use of EU Login.
          #}
          <li class="nav-item accordion-item d-sm-none">
            <span class="accordion-header" id="heading-navbar-toggler">
              <button
                class="accordion-button nav-link"
                data-bs-toggle="collapse"
                autocomplete="off"
                data-bs-target="#collapse-navbar-toggler"
                aria-controls="collapse-navbar-toggler"
                aria-expanded="false"
                type="button"
              >
                <svg class="bi icon--s">
                  <use xlink:href="{{ base_path ~ directory }}/assets/icons/bootstrap-icons.svg#justify"></use>
                </svg>
              </button>
            </span>
            <div
              id="collapse-navbar-toggler"
              class="accordion-collapse collapse rounded-bottom"
              aria-labelledby="heading-navbar-toggler"
              data-bs-parent="#navbar"
              >
              <div class="accordion-body">
                <ul class="accordion-list">
                  {% for link in anonymous_links %}
                    <li class="accordion-list-item">
                      <a href="{{ link.link }}" class="accordion-list-link">
                        {{ link.label }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </li>
          <ul class="accordion-list d-none d-sm-inline-flex">
            {% for link in anonymous_links %}
              <li class="nav-item">
                <a class="nav-link" href="{{ link.link }}">{{ link.label }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% endspaceless %}
