
{% if items or active %}
  <div{{ attributes.addClass('filter') }}>
    <div class="filter">
      {% if prefix_text -%}
        <div class="filter__label">{{ prefix_text }}</div>
      {% endif -%}
      <div class="filter__term">{{ active|safe_join(', ') }}</div>
      {{ suffix_text }}
      <div{{ button_attributes }}></div>
    </div>

    {%- if items -%}
      <ul class="filter__menu mdl-menu mdl-menu--bottom-right mdl-js-menu" for="{{ button_attributes.id }}">
        {%- for item in items -%}
          {%- set item_attributes = create_attribute({'class': ['facet-item', 'mdl-menu__item']}) -%}
          <li{{ item_attributes }}>{{ item }}</li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
{%- endif %}
