{#
/**
 * @file
 * Default theme implementation for a two column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'joinup-layout',
    'joinup-layout--twocolfooter-onecol-67-33',
    'row',
    'py-5',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="inline-column-right col-lg-4 order-lg-2 mb-4 mb-lg-0">
      {% if content.third %}
        <div {{ region_attributes.third.addClass('layout__region', 'layout__region--third') }}>
          {{ content.third }}
        </div>
      {% endif %}
    </div>
    <div class="inline-column-left col-lg-8 order-lg-1">
      {% if content.first or content.second %}
        <div class="row">
          {% if content.first %}
            <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first', 'col-md') }}>
              {{ content.first }}
            </div>
          {% endif %}
          {% if content.second %}
            <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second', 'col-md') }}>
              {{ content.second }}
            </div>
          {% endif %}
        </div>
      {% endif %}
      {% if content.two_col_footer %}
        <div class="row">
          <div {{ region_attributes.two_col_footer.addClass('layout__region', 'layout__region--two_col_footer', 'col') }}>
            {{ content.two_col_footer }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
