{#
/**
 * @file
 * Default theme implementation for the global search bar.
 *
 * Available variables:
 * - filters: the search filters, to be displayed as chips.
 *
 * @ingroup themeable
 */
#}
{%
    set search_url = path('view.search.page_1')
%}
<p>{{ 'Find the interoperability <strong>solutions you need</strong>'|trans }}</p>
<div class="search-bar">
    <label for="search-bar__input" style="display: none">{{ 'Search'|trans }}</label>
    <form action="{{ search_url }}">
        {% for id, filter in filters %}
            <input type="hidden" class="search-bar__chip" name="f[]" value="{{ id }}" data-description="{{ filter }}">
        {% endfor %}
        <input class="search-bar__input" type="text" name="keys" id="search-bar__input" placeholder="{{ 'Start typing to search…'|trans }}">
        <input type="submit" value="{{ 'Search'|trans }}">
    </form>
</div>
<p>{% trans %}Need more search options? Use our <a href="{{ search_url }}">advanced search</a>{% endtrans %}</p>
