{#
/**
 * @file
 * Default theme implementation for the global search bar.
 *
 * Available variables:
 * - filters: the search filters, to be displayed as chips.
 *
 * @ingroup themeable
 */
#}
{%
    set search_url = path('view.search.page_1')
%}
<h2 class="display-6 mb-4">{{ 'Find the interoperability <br><strong>solutions you need</strong>'|trans }}</h2>
<div class="search-bar mb-3">
  <label for="search-bar__input" style="display: none">{{ 'Search'|trans }}</label>
  <form action="{{ search_url }}">
    {% for id, filter in filters %}
      <input type="hidden" class="search-bar__chip" name="f[]" value="{{ id }}" data-description="{{ filter }}">
    {% endfor %}
    <div class="input-group">
      <input class="search-bar__input form-control px-4 py-3 shadow" type="text" name="keys" id="search-bar__input" placeholder="{{ 'Start typing to search…'|trans }}">
      <button type="submit" class="btn btn-primary btn-search shadow">{{ 'Search'|trans }}</button>
    </div>
  </form>
</div>
<p>{% trans %}Need more search options? Use our <a class="text-primary text-decoration-underline" href="{{ search_url }}">Advanced Search</a>{% endtrans %}</p>
