{#
/**
 * @file
 * Theme template for the tallin entry formatter.
 *
 * Available variables:
 * 'title': The title of the field.
 * 'description': The tallinn description.
 * 'status': The status renderable array.
 * 'status_classes': The classes for the status array.
 * 'explanation': The explanation field renderable array.
 * 'url': The url renderable array.
 */
#}
{% set vars = {} %}
<fieldset>
    {% if title %}
        <legend>
            <h2>{{ title }}</h2>
        </legend>
    {% endif %}
    {% if description %}
        {{ description }}
    {% endif %}
    {% if status %}
        <div {{ attributes.addClass(status_classes) }}>
        {{ status }}
        </div>
    {% endif %}

    {% if explanation %}
        <div>
            <p>{{ explanation }}</p>
        </div>
    {% endif %}

    {% if url %}
        <div>
            <p>{{ url }}</p>
        </div>
    {% endif %}
</fieldset>