<div class="section section--featured-lg">
  <div class="anonymous-menu">
    <ul class="anonymous-menu__list">
      <li class="anonymous-menu__item">
        {# @todo The login text should be changed - "Sign in" instead of "Log in" - https://webgate.ec.europa.eu/CITnet/jira/browse/ISAICP-2639. #}
        <a class="anonymous-menu__link" href="{{ path("user.login") }}">{{ 'Log in'|t }}</a>
      </li>
    </ul>
  </div>
  <div class="featured-lg">
    <div class="featured-lg__wrapper">
      <div class="featured-lg__logo">
        <img src="{{ base_path ~ directory }}/images/logo.png">
      </div>
      <h1 class="featured-lg__text">{{ 'Share and reuse interoperability solutions for public administrations'|t }}</h1>
      <div class="featured-lg__search-bar search-bar--section search-bar--white mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="search-bar__label icon icon--search mdl-button mdl-js-button"
        for="search-bar__input">
        </label>
        {# @todo Create search form - https://webgate.ec.europa.eu/CITnet/jira/browse/ISAICP-2637 #}
        <form action="{{ path("view.search.page_1") }}">
        <input class="search-bar__input mdl-textfield__input" placeholder="Start typing to search..." type="text" name="keys"
          id="search-bar__input">
        </form>
      </div>
      <div class="featured-lg__stats">
        <div class="stats__wrapper is-only-placeholder">
          <div class="stats__icon icon icon--solutions"></div>
          <div class="stats__text">
            <div class="stats__text--upper">4007</div>
            <div class="stats__text--lower">Solutions</div>
          </div>
          <div class="stats__description">Interoperability solution ready to use</div>
        </div>
        <div class="stats__wrapper is-only-placeholder">
          <div class="stats__icon icon icon--collections"></div>
          <div class="stats__text">
            <div class="stats__text--upper">61</div>
            <div class="stats__text--lower">Collections</div>
          </div>
          <div class="stats__description">Collaborate around thematics</div>
        </div>
        <div class="stats__wrapper is-only-placeholder">
          <div class="stats__icon icon icon--events"></div>
          <div class="stats__text">
            <div class="stats__text--upper">22</div>
            <div class="stats__text--lower">Content</div>
          </div>
          <div class="stats__description">Events, cases and news</div>
        </div>
      </div>
    </div>
    <div class="featured-lg__overlay"></div>
  </div>
</div>
