<div class="section section--featured section--featured-lg">
  <div class="anonymous-menu">
    <ul class="anonymous-menu__list">
      <li class="anonymous-menu__item">
        <a class="anonymous-menu__link" href="{{ path("user.login") }}">{{ 'Sign in'|t }}</a>
      </li>
    </ul>
  </div>
  <div class="featured-lg">
    <div class="featured-lg__wrapper">
      <div class="featured-lg__logo">
        <img src="{{ base_path ~ directory }}/images/logo.png">
      </div>
      <h1 class="featured-lg__text">{{ 'Share and reuse Interoperability solutions for public administrations, businesses and citizens'|t }}</h1>
      <div class="featured-lg__search-bar search-bar--section search-bar--white mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="search-bar__label mdl-button mdl-js-button mdl-button--icon" for="search-bar__input">
          <span class="search-bar__icon icon icon--search"></span>
        </label>
        <form action="{{ path("view.search.page_1") }}">
        <input class="search-bar__input mdl-textfield__input" placeholder="{{ 'Start typing to search...'|t }}" type="text" name="keys"
          id="search-bar__input">
        </form>
      </div>
      {{ page.featured }}
    </div>
    <div class="featured-lg__overlay"></div>
  </div>
</div>
