<footer class="section section--footer">
  <div class="footer__first">
    <div class="main-container">
      <div class="row">
        <div class="mdl-grid mdl-grid--center">
          <div class="mdl-cell mdl-cell--8-col">
            <div class="row">
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                  <h3 class="footer__site-name">
                    <a href="{{ base_path }}" title="{{ 'Home'|t }}">
                      <img src="{{ base_path ~ directory }}/images/logo.svg" alt="{{ 'Home'|t }}">
                    </a>
                  </h3>
                  <p class="footer__version"><a href="{{ version_url }}">{{ version }}</a></p>
                </div>
                <div class="mdl-cell mdl-cell--4-col">

                  <div class="social-media">

                    <h3 class="social-media__label">{{ 'Follow us'|t }}:</h3>


                    <ul class="social-media__menu">
                      <li class="social-media__item">
                        <a href="https://www.linkedin.com/groups/2600644/" class="social-media__link" target="_blank">
                          <span class="icon icon--linkedin"></span>
                          <span class="text">{{ 'LinkedIn'|t }}</span>
                        </a>
                      </li>
                      <li class="social-media__item">
                        <a href="http://twitter.com/Joinup_eu" class="social-media__link" target="_blank">
                          <span class="icon icon--twitter"></span>
                          <span class="text">{{ 'Twitter'|t }}</span>
                        </a>
                      </li>
                      <li class="social-media__item">
                        <a href="https://ec.europa.eu/newsroom/joinup/newsletter-archives/view/service/877" class="social-media__link" target="_blank">
                          <span class="icon icon--footer-newsletter"></span>
                          <span class="text">{{ 'Joinup Newsletter'|t }}</span>
                        </a>
                      </li>
                    </ul>

                  </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                  {{ page.footer }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__second">
    <div class="main-container">
      <div class="row">
        <div class="mdl-grid mdl-grid--center">
          <div class="mdl-cell mdl-cell--8-col">
            <ul class="ec-menu">
              <li class="ec-menu__item">
                <a href="http://ec.europa.eu/info/about-commissions-new-web-presence_en" class="ec-menu__link" target="_blank">{{ 'About the Commission\'s new web presence'|t }}</a>
              </li>
              <li class="ec-menu__item">
                <a href="http://ec.europa.eu/info/resources-partners_en" class="ec-menu__link" target="_blank">{{ 'Resources for partners'|t }}</a>
              </li>
              <li class="ec-menu__item">
                <a href="http://ec.europa.eu/info/cookies_en" class="ec-menu__link" target="_blank">{{ 'Cookies'|t }}</a>
              </li>
              <li class="ec-menu__item">
                <a href="/joinup/legal-notice" class="ec-menu__link" target="_blank">{{ 'Legal notice'|t }}</a>
              </li>
              <li class="ec-menu__item">
                <a href="http://ec.europa.eu/info/contact_en" class="ec-menu__link" target="_blank">{{ 'Contact'|t }}</a>
              </li>
              <li class="ec-menu__item">
                <a href="http://ec.europa.eu/info/europa-analytics_en" class="ec-menu__link" target="_blank">{{ 'Europa Analytics' }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
