<footer role="contentinfo" class="page__footer bg-primary">
  <div class="container text-light">
    <div class="row py-4 py-lg-5">
      <!--Joinup logo-->
      <div class="col-md-12 col-lg-3 column-logo">
        <p class="joinup-logo"><a href="/" class="joinup-logo-white mb-3"><span class="visually-hidden">{{ 'Joinup'|t }}</span></a></p>
        <p class="joinup-version"><a href="{{ version_url }}">{{ version }}</a></p>
      </div>

      {{ page.footer }}

      <!--European Commission menu-->
      <div class="col-md-3 col-lg-3 ec-menu">
        <h3>{{ 'European Commission'|t }}</h3>
        <ul class="list-unstyled">
          <li><a href="https://ec.europa.eu/info/about-commissions-new-web-presence_en">{{ 'About the Commission\'s new web presence'|t }}</a></li>
          <li><a href="https://ec.europa.eu/info/resources-partners_en">{{ 'Resources for partners'|t }}</a></li>
          <li><a href="https://ec.europa.eu/info/cookies_en">{{ 'Cookies'|t }}</a></li>
          <li><a href="{{ base_path }}joinup/legal-notice">{{ 'Legal notice'|t }}</a></li>
          <li><a href="https://ec.europa.eu/info/contact_en">{{ 'Contact'|t }}</a></li>
          <li><a href="https://ec.europa.eu/info/europa-analytics_en">{{ 'Europa Analytics' }}</a></li>
        </ul>
      </div>

      <!--Social menu-->
      <div class="col-md-3 col-lg-2 social-media">
        <h3>{{ 'Follow us'|t }}</h3>
        <ul class="list-unstyled mb-2">
          <li>
            <a href="https://ec.europa.eu/newsroom/joinup/newsletter-specific-archive-issue.cfm?newsletter_service_id=877&lang=default">{{ 'Joinup Newsletter'|t }}</a>
          </li>
        </ul>
        <ul class="list-inline social-networks">
          <li class="list-inline-item">
            <a href="https://twitter.com/joinup_eu" class="twitter"><span class="visually-hidden">{{ 'Twitter'|t }}</span></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/groups/2600644/" class="linkedin"><span class="visually-hidden">{{ 'LinkedIn'|t }}</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<footer class="section section--footer">
  <div class="footer__first">
    <div class="main-container">
      <div class="row">
        <div class="mdl-grid mdl-grid--center">
          <div class="mdl-cell mdl-cell--12-col">
            <div class="row">
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--3-col">
                  <h3 class="footer__site-name">
                    <a href="{{ base_path }}" title="{{ 'Home'|t }}">
                      <img src="{{ base_path ~ directory }}/images/logo.svg" alt="{{ 'Home'|t }}">
                    </a>
                  </h3>
                  <p class="footer__version"><a href="{{ version_url }}">{{ version }}</a></p>
                </div>
                {{ page.footer }}
                <div class="mdl-cell mdl-cell--3-col">
                  <h3>{{ 'European Commission'|t }}</h3>
                  <ul class="list-unstyled">
                    <li><a href="https://ec.europa.eu/info/about-commissions-new-web-presence_en">{{ 'About the Commission\'s new web presence'|t }}</a></li>
                    <li><a href="https://ec.europa.eu/info/resources-partners_en">{{ 'Resources for partners'|t }}</a></li>
                    <li><a href="https://ec.europa.eu/info/cookies_en">{{ 'Cookies'|t }}</a></li>
                    <li><a href="{{ base_path }}joinup/legal-notice">{{ 'Legal notice'|t }}</a></li>
                    <li><a href="https://ec.europa.eu/info/contact_en">{{ 'Contact'|t }}</a></li>
                    <li><a href="https://ec.europa.eu/info/europa-analytics_en">{{ 'Europa Analytics' }}</a></li>
                  </ul>
                </div>
                <div class="mdl-cell mdl-cell--3-col">
                  {{ page.footer }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
