<header class="section section--header" role="banner">
  <div class="mdl-layout__header-row eu-header">
    <div class="main-container">
      <div class="row">
        <div class="mdl-grid mdl-grid--center">
          <div class="mdl-cell mdl-cell--8-col">
            <div class="row">
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--2-col">
                  <img class="logo_eu" src="{{ base_path ~ directory }}/images/logo_eu.png">
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                  <div class="site-name-slogan">
                    <h1>European Innovation Council </h1>
                    <h2>COVID-19 Challenge Platform</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-layout__header-row">
    <div class="mdl-layout-spacer"></div>

    {{ page.header_central_menu.joinup_theme_main_menu }}

    <div class="mdl-layout-spacer"></div>

    {{ page.header }}
    {{ page.header_profile_menu }}

</div>
</header>
<div class="mdl-layout__drawer">
  {{ page.header_central_menu.joinup_theme_main_menu_mobile }}
</div>
