{%
set classes = [
  'listing__item',
  'listing__item--tile',
  'mdl-card'
]
%}

<div {{ attributes.addClass(classes) }} onclick="window.location.href='{{ url }}' ">
    <div class="listing__field listing__field--image-wrapper">
        <img class="listing__image" src="{{ file_url(content.field_ar_logo['#items'].entity.uri.value) }}" style="max-width: 100px; max-height: 100px;">
    </div>
    <div class="listing__field">
        <img class="listing__avatar" src="/themes/joinup/images/login-icon.png">
    </div>
    <div class="listing__field">
        <h2 class="listing__title">{{ content.title }}</h2>
    </div>
    <div class="listing__field">
        <p class="listing__teaser">{{ content.field_ar_abstract }}</p>
    </div>
    <div class="listing__field mdl-card__actions">
        <div class="listing__icons">
            <div class="listing__icons-item listing__icons-item--solutions">
                154
            </div>
            <div class="listing__icons-item listing__icons-item--members">
                13
            </div>
            <div class="listing__icons-item listing__icons-item--like">
                22
            </div>
        </div>
    </div>
</div>
