{#
/**
 * @file
 * Default implementation of a textfield input for the licence search input.
 */
#}
<div class="licence-search">
  <div class="licence-search__label">{{ "Enter"|t }} <a href="https://spdx.org/ids" target="_blank">{{ "{{ "licence SPDX identifier"|t }}" }}</a></div>
  <div class="licence-search__input">
    <div>
      <div>
        <input type="text" id="licence-search"/>
        <label for="licence-search">{{ "SPDX id"|t }}</label>
      </div>
    </div>
  </div>
  <div class="licence-search__label">{{ "or select licence terms below"|t }}</div>
</div>
