{#
/**
 * @file
 * Theme override for a collection of search results.
 *
 * Available variables:
 * - search_title: The title accompanying the search results.
 * - no_of_results: A text string indicating the number of search results that
 *   were found.
 * - results: The search results.
 * - pager: The pager.
 * - entity_type: The entity type machine name of the entity that contains the
 *   Search API field.
 * - bundle: The bundle name of the entity that contains the Search API field.
 * - field_name: The machine name of the Search API field.
 * - entity: The entity object that contains the Search API field.
 * - form: The search form.
 * - no_results_found: A text string mentioning that no results were found.
 *   This will be empty if there are search results.
 * - search_help: A text string containing some helpful tips to increase the
 *   likelyhood to find search results. This will be empty if there are search
 *   results.
 *
 * @see \Drupal\search_api_field\Plugin\Field\FieldFormatter\SearchFormatter::viewElements()
 *
 * @ingroup themeable
 */
#}
{% if results %}
  <div class="listing listing--grid">
    <div class="row">
      <div class="mdl-grid">
        {{ results }}
        {% if newsletter_enabled %}
          <div class="listing__item listing__item--tile listing__item--newsletter mdl-cell mdl-cell--4-col mdl-cell--3-col-wide">
            <div class="listing__card mdl-card">
              <div class="listing__wrapper">
                <div class="listing__field">
                  <h2 class="listing__title">{{ 'Newsletter'|t }}</h2>
                </div>
                <div class="listing__field">
                  <p>{{ newsletter_motivation }}</p>
                </div>
                <div class="listing__fields--bottom-aligned">
                  {{ newsletter_form }}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {{ pager }}
{% else %}
  <div class="page__content">
    {{ 'No content found.'|t }}
  </div>
{% endif %}
