{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
{#
/**
 * @file
 * Themeing for group header.
 *
 * This template is used when viewing a registered user's page.
 * Available variables:
 * - member_for: A custom variable, which contains a 'member for' timespan.
 */
#}
<div class="featured__outer-wrapper featured__outer-wrapper--user">
  <div class="featured__overlay"></div>
  <div class="featured__inner-wrapper">
    <div class="mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--2-offset-desktop">

        <div class="mdl-grid">

          <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-wide">
            <a class="featured__logo-wrapper" href="{{ path('entity.user.canonical',{'user': user.id()}) }}">
              <div class="featured__logo" style="background-image: url({{ field_user_photo_url }})"></div>
            </a>
            {% if content.field_social_media|render %}
              {{ content.field_social_media }}
            {% endif %}
          </div>

          <div class="mdl-cell mdl-cell--8-col mdl-cell--9-col-wide">
            <div class="featured__text featured__text--double">
              <h1><span>{{ full_name }}</span></h1>
              {% if content.field_user_business_title|render %}
                <div class="featured__text-small bold">{{ content.field_user_business_title }}</div>
              {% endif %}
            </div>

            <div class="mdl-grid mdl-grid--no-spacing">

              <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-wide">
                {% if content.field_user_organisation|render %}
                  <div class="stats__wrapper stats__wrapper-organisation">
                    <span class="stats__text bold">{{ 'Organisation'|t }}:</span>
                    <span class="stats__text">{{ content.field_user_organisation }}</span>
                  </div>
                {% endif %}
              </div>

              <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-wide">
                {% if content.field_user_professional_domain|render %}
                  <div class="stats__wrapper stats__wrapper-domain">
                    <span class="stats__text bold">{{ 'Domains'|t }}:</span>
                    <span class="stats__text">{{ content.field_user_professional_domain }}</span>
                  </div>
                {% endif %}
                <div class="stats__wrapper stats__wrapper-domain">
                  <span class="stats__text bold">Domains:</span>
                  <span class="stats__col--double">
                    <div>
                        <div>Free and open source software</div>
                        <div>ICT</div>
                        <div>Science and technology</div>
                        <div>Collaboration</div>
                        <div>Free and open source software in Public Administrations</div>
                        <div>ICT standardisation in eGovernment</div>
                        <div>Open government</div>
                        <div>eGovernmentttt</div>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
