{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
{% if field_ar_banner is not empty %}
  {% set banner_url = field_ar_banner %}
  {% set is_collection = TRUE %}
{% elseif field_is_banner is not empty %}
  {% set banner_url = field_is_banner %}
  {% set is_solution = TRUE %}
{% endif %}

<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix', 'featured__outer-wrapper')|without('style') }} style="background-image: url('{{ banner_url }}');{{ attributes.style }}">

  {{ title_suffix.contextual_links }}
  <div class="featured__overlay"></div>
  <div class="featured__inner-wrapper">
    {# }@todo This is temporary, once all fields are available, it will be replaced. #}
    {% if is_solution %}
    {{ ds_content.1 }}
    {{ ds_content.2 }}
    <div class="featured__stats">
      <div class="stats__column">
        <div class="stats__wrapper">
          {{ ds_content.3 }}
        </div>
      </div>
      <div class="stats__column">
        <div class="stats__wrapper">
          <span class="stats__text">Downloads:</span>
          <span class="stats__text bold">1234</span>
        </div>
      </div>
    </div>
    {{ ds_content.4 }}
    {% elseif is_collection %}
    {{ ds_content.1 }}
    {{ ds_content.2 }}
    <div class="featured__stats">
      <div class="stats__column stats__column--border stats__column--wide">
        <div class="stats__wrapper stats__wrapper--centered">
          <span class="stats__text">Activity</span>
        </div>
        <div class="stats__wrapper stats__wrapper--centered">
          <span class="stats__text bold">Medium</span>
        </div>
      </div>
      <div class="stats__column stats__column--wide stats__column--icons">
        <div class="stats__wrapper">
          <span class="stats__icon icon icon--user"></span>
          <span class="stats__text">13 Members</span>
        </div>
        <div class="stats__wrapper">
          <span class="stats__icon icon icon--solutions"></span>
          <span class="stats__text">124 Solutions</span>
        </div>
      </div>
    </div>
    {{ ds_content.3 }}
    {% endif %}

  </div>

</{{ ds_content_wrapper }}>
