{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}
{{ title_prefix }}
{% if title %}
  <div class="page__title-wrapper">
    <h1 class="page__title">{{ additional_content.full_label }}</h1>
    {% if additional_content.is_latest_release %}
      <div class="etiquette etiquette--blue">{{ 'Latest release'|t }}</div>
    {% else %}
      <div class="etiquette etiquette--red"><a href="{{ additional_content.latest_release }}">{{ 'Switch to the latest release'|t }}</a></div>
    {% endif %}
    {% if permalink %}
      <a class="permalink" href="{{ permalink }}" alt="{{ 'Permalink'|t }}" title="{{ 'Permalink'|t }}"><span class="icon icon--anchor"></span><span class="visually-hidden">{{ 'Permalink'|t }}</span></a>
    {% endif %}
      <div class="details details--solution">
        <div class="details__element">
          <div class="value gray">{{ additional_content.field_isr_creation_date }}</div>
        </div>
      </div>
  </div>
{% endif %}
{{ title_suffix }}
