{#
/**
 * @file
 * Themeing for group header.
 */
#}
{% if rdf_entity.bundle() == 'collection' %}
  {% set banner_url = content.field_ar_banner %}
  {% set is_collection = TRUE %}
{% elseif rdf_entity.bundle() == 'solution' %}
  {% set banner_url = content.field_is_banner %}
  {% set is_solution = TRUE %}
{% endif %}
<div class="featured__outer-wrapper" style="background-image: url('{{ banner_url }}');">
  <div class="featured__overlay"></div>
  <a class="featured__link-wrapper featured__link-wrapper--outer" href="{{ path('entity.rdf_entity.canonical',{'rdf_entity': rdf_entity.id()}) }}"></a>
  <div class="featured__inner-wrapper">
    {# @todo This is temporary, once all fields are available, it will be replaced. #}
    {% if is_solution %}
      <div class="featured__logo">{{ content.field_is_logo }}</div>
      <h1 class="featured__text">{{ label }}</h1>
      <div class="featured__stats">
        <div class="stats__column">
          <div class="stats__wrapper">
            {{ content.licence }}
          </div>
        </div>
        <div class="stats__column">
          <div class="stats__wrapper">
            <span class="stats__text">Downloads:</span>
            <span class="stats__text bold">1234</span>
          </div>
        </div>
      </div>
      <a class="featured__link-wrapper" href="{{ path('entity.rdf_entity.canonical',{'rdf_entity': rdf_entity.id()}) }}"></a>
      {{ content.releases_overview }}
    {% elseif is_collection %}
      <div class="featured__logo">{{ content.field_ar_logo }}</div>
      <h1 class="featured__text">{{ label }}</h1>
      <div class="featured__stats">
        <div class="stats__column stats__column--border stats__column--wide">
          <div class="stats__wrapper stats__wrapper--centered">
            <span class="stats__text">Activity</span>
          </div>
          <div class="stats__wrapper stats__wrapper--centered">
            <span class="stats__text bold">Medium</span>
          </div>
        </div>
        <div class="stats__column stats__column--wide stats__column--icons">
          <div class="stats__wrapper">
            <span class="stats__icon icon icon--user"></span>
            <span class="stats__text">13 Members</span>
          </div>
          <div class="stats__wrapper">
            <span class="stats__icon icon icon--solutions"></span>
            <span class="stats__text">124 Solutions</span>
          </div>
        </div>
      </div>
      <a class="featured__link-wrapper" href="{{ path('entity.rdf_entity.canonical',{'rdf_entity': rdf_entity.id()}) }}"></a>
      {{ content.join_collection }}
    {% endif %}
  </div>
</div>
