{#
/**
 * @file
 * Themeing for rdf entities, bundle 'asset_release', 'compact' view mode.
 */
#}

<div class="timeline__release {% if is_top_of_timeline %}is-latest {% endif %}mdl-grid">
  <div class="timeline__release-progression mdl-cell mdl-cell--3-col">
    <div class="timeline__release-info">
      <div class="release__info-element bold">{{ content.field_isr_release_number }}</div>
      {% if is_top_of_timeline %}
        <div class="release__info-element bold blue">Latest release</div>
      {% endif %}
    </div>
    <div class="timeline__release-bar"></div>
  </div>
  <div class="timeline__release-content mdl-cell mdl-cell--9-col">
    <div class="timeline__meta">
      <h2 class="timeline__release-title">{{ full_label }}</h2>
      <p class="timeline__release-abstract">{{ content.field_isr_release_notes }}</p>
    </div>
    <div class="timeline__listing">
      <h3 class="timeline__listing-block-title">{{ 'Distributions:'|t }}</h3>
      {% if content.field_isr_distribution|render %}
        {{ content.field_isr_distribution }}
      {% else %}
        <div class="timeline__listing-item">{{ 'No distributions yet.'|t }}</div>
      {% endif %}
    </div>
  </div>
</div>
