{#
/**
 * @file
 * Themeing for rdf entities.
 */
#}
{%
  set classes = [
    'listing__card',
    'mdl-card',
    'listing__card--stats-container',
    view_mode == 'view_mode_featured' ? 'listing__card--inline-container',
  ]
%}
<div {{ attributes.addClass(classes) }}>
  <div class="listing__metadata">
    <div class="listing__field">
      <h2 class="listing__title"><a href="{{ url }}">{{ label }}</a></h2>
      <h5 class="listing__subtitle listing__number">{{ content.field_isr_release_number }}</h5>
      <h5 class="listing__subtitle listing__status">{{ content.field_status }}</h5>
    </div>
    <div class="listing__field listing__stats mdl-card__actions">
      <div class="listing__stat">
        <span class="listing__text">{{ 'release'|t }}</span>
        <span class="listing__icon icon icon--{{ rdf_entity.bundle }}"></span>
      </div>
    </div>
    </div>
  </div>
