{#
/**
 * @file
 * Themeing for rdf entities.
 */
#}
{%
  set classes = [
    'listing__card',
    'mdl-card',
    'listing__card--stats-container',
    view_mode == 'view_mode_featured' ? 'listing__card--inline-containers',
  ]
%}
<div class="{{ classes|join(' ') }}">
  <div class="listing__metadata">
    <div class="listing__field">
      <h2 class="listing__title"><a href="{{ url }}">{{ label }} {{ content.field_isr_release_number }}</a></h2>
    </div>
    <div class="listing__field">
      <p class="listing__teaser">{{ content.field_isr_release_notes }}</p>
      </div>
      <div class="listing__field listing__stats mdl-card__actions">
        {#todo: Stats are only placeholder #}
        <div class="listing__stat is-only-placeholder">
          <span class="listing__text">22</span>
          <span class="listing__icon icon icon--like"></span>
        </div>
      </div>
    </div>
  </div>
