{#
/**
 * @file
 * Themeing for rdf entities.
 */
#}
<div class="listing__card listing__card--detail-container mdl-card">
  <div class="listing__metadata">
    <div class="listing__field">
      <h2 class="listing__title">{{ label }}</h2>
    </div>
    <div class="listing__field">
      <div class="label gray">{{ 'Weight'|t }}:</div>
      <div class="value bold">{{ content.field_ad_file_size }}</div>
    </div>
    {% if (content.field_ad_licence|render) %}
    <div class="listing__field">
      <div class="label gray">{{ 'Licence'|t }}:</div>
      <div class="value bold underline listing__field--normal">{{ content.field_ad_licence }}</div>
    </div>
    {% endif %}
    <div class="listing__field listing__stats mdl-card__actions listing__action-link__wrapper action-link__wrapper">
      <a href="{{ url }}" class="listing__action-link action-link">{{ 'Details'|t }}</a>
      {# todo: It is only placeholder. #}
      <a href="/" class="listing__action-link action-link is-only-placeholder">{{ 'Download'|t }}</a>
    </div>
  </div>
</div>
