{#
/**
 * @file
 * Themeing for rdf entities.
 */
#}
<article{{ attributes }}>
  <div class="page__content">
    {{ content.field_isr_release_notes }}
    <div class="version-wrapper">{{ content.field_isr_is_version_of }}</div>
    <div class="action-link__wrapper right">
      {# todo: It is only placeholder #}
      <a href="/" class="action-link is-only-placeholder">
        <span class="action-link__icon icon icon--share"></span>
        <span class="action-link__link">{{ 'Share'|t }}</a>
      </a>
    </div>
  </div>
{% if content.field_isr_distribution|render %}
  <div class="listing listing--grid">
    <div class="row">
      <div class="mdl-grid">
        <div class="listing__header mdl-cell mdl-cell--12-col">
          <h3 class="listing__block-title">{{ 'Distributions'|t }}:</h3>
        </div>
          {{ content.field_isr_distribution }}
        </div>
      </div>
    </div>
  {% endif %}
</article>
