{#
/**
 * @file
 * Themeing for rdf entities.
 */
#}
{%
  set classes = [
    'listing__card',
    'mdl-card',
    'listing__card--inline-container',
    'listing__card--full-width',
  ]
%}
<div {{ attributes.addClass(classes) }}>
  <div class="listing__image">{{ content.field_ar_logo }}</div>
  <div class="listing__metadata">
    <div class="listing__field">
      <div class="listing__link"><a href="{{ url }}"></a></div>
      {{ title_prefix }}<h2 class="listing__title">{{ label }}</h2>{{ title_suffix }}
    </div>
    {% if content.field_ar_abstract|render|striptags|raw %}
      <div class="listing__field">
        <p class="listing__teaser">{{ content.field_ar_abstract|render|striptags|raw }}</p>
      </div>
    {% endif %}
  </div>
</div>