{#
/**
 * @file
 * Themeing for rdf entities, bundle 'asset_distribution', 'compact' view mode.
 */
#}

  <div class="timeline__listing-item">
    <div class="timeline__listing-title">
      {{ content.field_ad_file }}
    </div>
    <div class="timeline__listing-details details">
      <div class="details__element">
        <div class="value gray">{{ content.field_ad_file_size }}</div>
      </div>
      <div class="details__element hide--phone">
        <div class="value bold underline">Linux</div>
      </div>
      <div class="details__element hide--phone">
        <div class="label gray">{{ 'licence:'|t }}</div>
        <div class="value bold underline action-link">{{ content.field_ad_licence }}</div>
      </div>
    </div>
    <div class="timeline__action-links action-link__wrapper right hide--phone">
      <a href="{{ url }}" class="action-link">{{ 'Details'|t }}</a>
      <a href="{{ content.promoted_download }}" class="action-link">{{ 'Download'|t }}</a>
    </div>
  </div>
