{#
/**
 * @file
 * Theme override for the social media links template.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'social-media-links--platforms',
    'platforms',
    appearance.orientation == 'h' ? 'inline horizontal' : 'vertical',
  ]
%}

<ul{{ attributes.addClass(classes) }}>
  {% for platform in platforms %}
    <li>
      <a href="{{ platform.url }}" {{ platform.attributes.setAttribute('title', platform.name) }} >
        {{ platform.element }}{% if appearance.show_name %}<span class="visually-hidden">{{ platform.name }}</span>{% endif %}
      </a>
    </li>
  {% endfor %}
</ul>
