{#
/**
 * @file
 * Theme override to display a node of bundle event.
 *
 * Available variables:
 * - node: the node entity.
 */
#}
<article{{ attributes }}>
  <div class="page__content">
    {{ content.body }}
    <div class="fieldset fieldset--box">
      <h3 class="fieldset__title ">{{ 'References'|t }}</h3>
      {{ content.field_event_web_url }}
      {{ content.field_event_contact_email }}
    </div>
    <div class="fieldset fieldset--box">
      <h3 class="fieldset__title ">{{ 'Details'|t }}</h3>
      {{ content.field_event_agenda }}
    </div>
    <div class="action-link__wrapper right">
      {{ content.report }}
      {{ content.share_link }}
    </div>
  </div>
  {{ content.field_shared_in }}
  <div id="event-location--{{ node.id }}" class="fieldset--separated">
    <img src="/themes/joinup/images/location-image.jpg">
    <div class="page__content">
      {{ content.field_location }}
      {{ content.field_event_adtl_address_info }}
    </div>
  </div>
  <div class="fieldset--separated">
    <div class="page__content">
      <h3 class="fieldset__title">
        {{ 'Attachments'|t }}
      </h3>
      {{ content.field_attachment }}
    </div>
  </div>
  {{ content.field_comments }}
</article>
