{#
/**
 * @file
 * Theme override to display a node.
 */
#}

{#
// TODO: implement new ui_pattern
{% block content %}
  {{ pattern('search_item', {
    'url': url,
    'title': label,
    'date': published,
    'image': content.field_news_logo,
  }) }}
{% endblock %}#}

<article{{ attributes }}>
  {{ title_prefix }}
  {% if not page and not is_label_hidden %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}
  {{ content }}
</article>
