{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}
{{ title_prefix }}
{% if title|render %}
  <div class="page__title-wrapper">
      {% if is_create_page %}
        <h1 class="page__title">
          <span class="icon icon--plus"></span>
          {{ title }}
        </h1>
      {% else %}
        <h1 class="page__title">
          {{ title }}
        </h1>
        {% if permalink %}
          <a class="permalink" href="{{ permalink }}" title="Permalink">#</a>
        {% endif %}
      {% endif %}
  </div>
{% endif %}
{{ title_suffix }}
