{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}
{{ title_prefix }}
{% if title %}
  <div class="page__title-wrapper">
      <h1 class="page__title">{{ title }}</h1>
      {% if permalink %}
        <a class="permalink" href="{{ permalink }}" alt="{{ 'Permalink'|t }}" title="{{ 'Permalink'|t }}"><span class="icon icon--anchor"></span><span class="visually-hidden">{{ 'Permalink'|t }}</span></a>
      {% endif %}
      <div class="details details--solution">
        <div class="details__element">
          <div class="value gray">{{ additional_content.field_ad_file_size }}</div>
        </div>
        {% if additional_content.field_ad_licence|render %}
          <div class="details__element">
            <div class="label gray">licence:</div>
            <div class="value underline bold details__element-item">{{ additional_content.field_ad_licence }}</div>
          </div>
        {% endif %}
      </div>
  </div>
{% endif %}
{{ title_suffix }}
