{#
/**
 * @file
 * Theme override for page title when the route is the canonical view of an event node.
 *
 * Available variables:
 * - entity: the node entity.
 * - additional_content: extra elements to be rendered. It has the properties:
 *     * field_event_date: the date of the event.
 *     * field_location: the event location.
 */
#}
{{ title_prefix }}
{% if title %}
  <div class="page__title-wrapper">
      <h1 class="page__title">{{ title }}</h1>
      {% if permalink %}
        <a class="permalink" href="{{ permalink }}" title="Permalink"><span class="icon icon--anchor"></span></a>
      {% endif %}
      <div class="details">
        <div class="details__element details__element--block">
          <div class="value gray">
            {{ additional_content.field_event_date }}
          </div>
        </div>
        <div class="details__element details__element--block">
          <div class="value gray"><a href="#event-location--{{ entity.id }}">{{ additional_content.field_location }}</a></div>
        </div>
      </div>
  </div>
{% endif %}
{{ title_suffix }}
