{#
/**
 * @file
 * Theme override for a fieldgroup html element.
 *
 * This template is needed to "reset" the styling as the default template for
 * fieldgroup html element adds classes with particular styling.
 *
 * @ingroup themeable
 */
#}

<{{ wrapper_element }} {{ attributes.addClass('fieldset', 'fieldset--abstract-wrapper') }}>
  {% if title %}
  <{{ title_element }}{% if collapsible %} class="field-group-toggler"{% endif %}>{{ title }}</{{ title_element }}>
  {% endif %}
  {% if collapsible %}
  <div class="field-group-wrapper">
  {% endif %}
  {{children}}
  {% if collapsible %}
  </div>
  {% endif %}
</{{ wrapper_element }}>
