{#
/**
 * @file
 * Theme override for a fieldgroup html element for the "abstract" field group.
 *
 * Note that there is also some logic to show the description only when the
 * abstract is not defined, but this is not handled here but rather in the
 * Community module. This is handled like this because the hiding of the
 * description is not considered to be a theming issue, but functionality that
 * should keep working even if we would switch to a different theme.
 *
 * @see collection_rdf_entity_view_alter()
 *
 * @ingroup themeable
 */
#}

<{{ wrapper_element }} {{ attributes.addClass('fieldset', 'fieldset--abstract-wrapper') }}>
  {% if title %}
  <{{ title_element }}{% if collapsible %} class="field-group-toggler"{% endif %}>{{ title }}</{{ title_element }}>
  {% endif %}
  {% if collapsible %}
  <div class="field-group-wrapper">
  {% endif %}
  {{children}}
  {% if collapsible %}
  </div>
  {% endif %}
</{{ wrapper_element }}>
