{#
/**
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'social-media-links',
  ]
%}

<ul{{ attributes.addClass(classes) }}>
  {% for platform in platforms %}
    <li>
      <a href="{{ platform.url }}" {{ platform.attributes.setAttribute('alt', platform.name).setAttribute('title', platform.name).setAttribute('target', '_blank') }} >
        <span class="icon icon--{{ platform.id }}"></span>
        {% if appearance.show_name %}
          <span class="visually-hidden">{{ platform.name }}</span>
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>
