{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - foo: Foo variable description.
 *
 * @see template_preprocess_explore_block()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('ventuno/splide') }}

<div class="explore-block wrapper-class">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    {% for key, tab in data %}
      <li class="nav-item" role="presentation">
        <button class="nav-link{% if loop.first %} active{% endif %}" id="{{ key }}-tab" data-bs-toggle="tab" data-bs-target="#{{ key }}" type="button" role="tab" aria-controls="{{ key }}" aria-selected="true">{{ tab.name }}</button>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for key, tab in data %}
      <div class="tab-pane{% if loop.first %} active{% endif %}" id="{{ key }}" role="tabpanel" aria-labelledby="{{ key }}-tab">
        {% if tab.data is not empty %}
          <div class="tab-data splide splide-{{ key }}">
          <a href="{{ tab.url }}" class="btn btn-secondary mb-2">{{ 'See more'|t }}</a>
            <div class="splide__track">
              <div class="splide__list">
                {{ tab.data }}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
