{#
/**
 * @file
 * Default theme implementation to display statistics about content on the site.
 *
 * Available variables:
 * - collection_count: the number of validated collections on the site.
 * - solution_count: the number of validated solutions on the site.
 * - content_count: the number of validated news articles, discussions and
 *   events on the site.
 * - base_path: The site's base path.
 *
 * @ingroup themeable
 */
#}
<div class="featured-lg__stats">
  <div class="stats__wrapper stats__wrapper__collections">
    <a href="{{ base_path }}collections" title="{{ collection.description }}">
      <div class="stats__icon icon icon--collections"></div>
      <div class="stats__text">
        <div class="stats__text--upper">{{ collection.count }}</div>
        <div class="stats__text--lower">{{ 'Collections'|t }}</div>
      </div>
    </a>
    <div class="stats__description">{{ 'Collaborate around thematics'|t }}</div>
  </div>
  <div class="stats__wrapper stats__wrapper__solutions">
    <a href="{{ base_path }}solutions" title="{{ solution.description }}">
      <div class="stats__icon icon icon--solutions"></div>
      <div class="stats__text">
        <div class="stats__text--upper">{{ solution.count }}</div>
        <div class="stats__text--lower">{{ 'Solutions'|t }}</div>
      </div>
    </a>
    <div class="stats__description">{{ 'Interoperability solutions ready to use'|t }}</div>
  </div>
  <div class="stats__wrapper stats__wrapper__content">
    <a href="{{ base_path }}keep-up-to-date" title="{{ content.description }}">
      <div class="stats__icon icon icon--content"></div>
      <div class="stats__text">
        <div class="stats__text--upper">{{ content.count }}</div>
        <div class="stats__text--lower">{{ 'Events, discussions, news ...'|t }}</div>
      </div>
    </a>
    <div class="stats__description">{{ 'To keep you up to date'|t }}</div>
  </div>
</div>
